In [13]:
empleados = {
    "empleado1": {
        "nombre": "Juan",
        "edad": 35,
        "puestos": ["Gerente", "Analista"],
        "proyectos": {
            "proyecto1": {"nombre": "Proyecto A", "horas": 40},
            "proyecto2": {"nombre": "Proyecto B", "horas": 20},
        }
    },
    "empleado2": {
        "nombre": "María",
        "edad": 28,
        "puestos": ["Analista", "Desarrollador"],
        "proyectos": {
            "proyecto1": {"nombre": "Proyecto C", "horas": 30},
            "proyecto3": {"nombre": "Proyecto D", "horas": 15},
        }
    },
}

imprimir el nombre, edad y lista de puestos de cada empleado

In [16]:
for empleado in empleados:
    #print(empleado['nombre']+' '+empleado['edad']+' '+empleado['puestos'])
    print(empleado)

empleado1
empleado2

nombre y las horas de los proyectos en los que está trabajando cada empleado.

In [25]:
for i, empleado in empleados.items():
    for i, dato in enumerate(empleado):
        print(i['nombre'])

TypeError: 'int' object is not subscriptable