In [1]:
import pandas as pd
import sklearn

### Reto 1

Ve a la parte de `datasets` de scikit-learn (https://scikit-learn.org/stable/datasets.html).

- Elige 5 datasets en total dentro de la seccion de Toy datasets y Real world datasets.
- Descarga y echa a un ojo a los datos que hay. Despues contesta las siguientes preguntas para cada dataset:  
    - ¿Que tipo de problema presenta?
    - ¿Cuantas features hay?
    - ¿Cuantas instancias hay?
    - ¿Que tipo de etiqueta hay?
    - Siguiendo la cheatsheet de sklearn, ¿que algoritmo podriamos utilizar?
    
   
- Elige uno de esos datasets y haz una lista de pasos a seguir para modelar y resolver ese problema como un problema de Machine Learning

### Breast cancer

In [16]:
cancer = pd.read_csv("H:/Mi unidad/Python/Code/9. Machine learning/breast+cancer+wisconsin+diagnostic/wdbc.data")

In [17]:
cancer

,842302,M,17.99,10.38,122.8,1001,0.1184,0.2776,0.3001,0.1471,...,25.38,17.33,184.6,2019,0.1622,0.6656,0.7119,0.2654,0.4601,0.1189
0,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
1,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
2,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
3,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
4,843786,M,12.45,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.08089,...,15.470,23.75,103.40,741.6,0.17910,0.52490,0.5355,0.1741,0.3985,0.12440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
563,926424,M,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
564,926682,M,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
565,926954,M,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
566,927241,M,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
567,92751,B,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [18]:
set(cancer['M'])

{'B', 'M'}

Cancer de pecho en Wisconsin
Problema: estudiar las caracteristicas de nucleos celulares en un conjunto de imágenes de tumores para hacer un arbol de decision. 
Features: 30
Instancias: 569
Etiqueta: binario
Algoritmo: SVC

### Iris

In [4]:
iris = pd.read_csv("H:/Mi unidad/Python/Code/9. Machine learning/iris/iris.data")

In [14]:
iris

     5.1  3.5  1.4  0.2     Iris-setosa
0    4.9  3.0  1.4  0.2     Iris-setosa
1    4.7  3.2  1.3  0.2     Iris-setosa
2    4.6  3.1  1.5  0.2     Iris-setosa
3    5.0  3.6  1.4  0.2     Iris-setosa
4    5.4  3.9  1.7  0.4     Iris-setosa
..   ...  ...  ...  ...             ...
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

[149 rows x 5 columns]

Iris
Problema: clasificar por iris 
Features: 4
Instancias: 150
Etiqueta: categorica
Algoritmo: SVC

### Car Evaluation

In [6]:
car = pd.read_csv("H:/Mi unidad/Python/Code/9. Machine learning/car+evaluation/car.data")

In [20]:
car

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

Evaluacion automovilistica 
Problema: clasificar los coches en funcion a sus caracteristicas (puertas, seguridad, mantenimiento…)
Features: 6
Instancias: 1728
Etiqueta: categorica
Algoritmo: SVC

### Vino

In [8]:
wine = pd.read_csv("H:/Mi unidad/Python/Code/9. Machine learning/wine/wine.data")

In [22]:
wine

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

Vino
Problema: clasificar los vinos en funcion a sus caracteristicas (alcohol, magnesio, color…)
Features: 13
Instancias: 178
Etiqueta: categorica
Algoritmo: SVC

### Ionosfera

In [10]:
ionosphere = pd.read_csv("H:/Mi unidad/Python/Code/9. Machine learning/ionosphere/ionosphere.data")

In [11]:
ionosphere.head

<bound method NDFrame.head of      1  0  0.99539  -0.05889  0.85243  0.02306  0.83398  -0.37708      1.1  \
0    1  0  1.00000  -0.18829  0.93035 -0.36156 -0.10868  -0.93597  1.00000
1    1  0  1.00000  -0.03365  1.00000  0.00485  1.00000  -0.12062  0.88965
2    1  0  1.00000  -0.45161  1.00000  1.00000  0.71216  -1.00000  0.00000
3    1  0  1.00000  -0.02401  0.94140  0.06531  0.92106  -0.23255  0.77152
4    1  0  0.02337  -0.00592 -0.09924 -0.11949 -0.00763  -0.11824  0.14706
..  .. ..      ...       ...      ...      ...      ...       ...      ...
345  1  0  0.83508   0.08298  0.73739 -0.14706  0.84349  -0.05567  0.90441
346  1  0  0.95113   0.00419  0.95183 -0.02723  0.93438  -0.01920  0.94590
347  1  0  0.94701  -0.00034  0.93207 -0.03227  0.95177  -0.03431  0.95584
348  1  0  0.90608  -0.01657  0.98122 -0.01989  0.95691  -0.03646  0.85746
349  1  0  0.84710   0.13533  0.73638 -0.06151  0.87873   0.08260  0.88928

     0.03760  ...  -0.51171  0.41078  -0.46168  0.21266  -0.34090  0.42267  \
0   -0.04549  ...  -0.26569 -0.20468  -0.18401 -0.19040  -0.11593 -0.16626
1    0.01198  ...  -0.40220  0.58984  -0.22145  0.43100  -0.17365  0.60436
2    0.00000  ...   0.90695  0.51613   1.00000  1.00000  -0.20099  0.25682
3   -0.16399  ...  -0.65158  0.13290  -0.53206  0.02431  -0.62197 -0.05707
4    0.06637  ...  -0.01535 -0.03240   0.09223 -0.07859   0.00732  0.00000
..       ...  ...       ...      ...       ...      ...       ...      ...
345 -0.04622  ...  -0.04202  0.83479   0.00123  1.00000   0.12815  0.86660
346  0.01606  ...   0.01361  0.93522   0.04925  0.93159   0.08168  0.94066
347  0.02446  ...   0.03193  0.92489   0.02542  0.92120   0.02242  0.92459
348  0.00110  ...  -0.02099  0.89147  -0.07760  0.82983  -0.17238  0.96022
349 -0.09139  ...  -0.15114  0.81147  -0.04822  0.78207  -0.00703  0.75747

     -0.54487  0.18641  -0.45300  g
0    -0.06288 -0.13738  -0.02447  b
1    -0.24180  0.56045  -0.38238  g
2     1.00000 -0.32382   1.00000  b
3    -0.59573 -0.04608  -0.65697  g
4     0.00000 -0.00039   0.12011  b
..        ...      ...       ... ..
345  -0.10714  0.90546  -0.04307  g
346  -0.00035  0.91483   0.04712  g
347   0.00442  0.92697  -0.00577  g
348  -0.03757  0.87403  -0.16243  g
349  -0.06678  0.85764  -0.06151  g

[350 rows x 35 columns]>

Ionosfera
Problema: Detectar objetos 'buenos' o 'malos' en la ionosfera a partir de datos de radares. 
Features: 34
Instancias: 351
Etiqueta: categorica
Algoritmo: SVC

#### Elige uno de esos datasets y haz una lista de pasos a seguir para modelar y resolver ese problema como un problema de Machine Learning

Ionosfera:

Paso 1: Colectar Datos: obtenidos de la fuente 

Paso 2: Preparar los datos:  
    abrir en pandas
    transformar con numpy
    establecer tipo de datos (int vs str)
    quitar nulos
    ordenar columnas
    normalizar estadisticas  
    
Paso 3: Elegir el modelo: SVR

Paso 4: Elaborar el modelo: elegir de las librerias para python e introducirlo con los datos

Paso 5: Evaluación posterior: ¿predice bien? ¿generaliza? ¿error minimo? ¿tiene en cuenta todas las variables?

Paso 6: configuración de parámetros: en base al modelo elaborado y evaluado positivamente

Paso 7: Predicción o Inferencia: con el modelo y parametros puestos a punto podemos analizar los datos de la ionosfera para detectar los objetos no deseados

### Reto 2

Carga el dataset del titanic, vamos a trabajar con este dataset.

- Responde a las preguntas anteriores para este dataset
- Despues realiza el split entre train y test.
- Escoge un modelo y entrenalo con estos datos. ¿Cual es su `score`? Para comprobar esto deberas leer la documentacion del modelo que hayas utilizado. Esto es algo que veremos mas en profundidad, pero intenta entenderlo y calcularlo por tu cuenta.
- Repite los dos pasos anteriores 10 veces en total. Utiliza una `seed` diferente cada vez que hagas el split, para obtener particiones del dataset distintas cada vez. Almacena los scores de train y test de cada split y calcula la media y la desviacion tipica de ambos y muestralos por pantalla.