In [ ]:
# Importamos pandas y numpy

# Reto 1

Mediante la creación de una lista de tuplas y otra de Strings, crea un
Dataframe de como mínimo 5 columnas y 5 filas.

In [ ]:
# Definición de las listas de tuplas y strings

# Creación del DataFrame

# Imprimir el DataFrame

   ID Nombre  Edad Género  Altura
0   1   Juan    25      M     165
1   2  María    30      F     170
2   3  Pedro    35      M     180
3   4    Ana    28      F     160
4   5   Luis    32      M     175

# Reto 2
Mediante la creación de una lista de diccionarios, crea el mismo
dataframe anterior pero, esta vez, haz que las columnas aparezcan
en distinto orden y que, al menos 2 de las filas no contengan datos.

In [ ]:
# Definición de la lista de diccionarios

# Definición de los nombres de las columnas

# Creación del DataFrame

# Imprimir el DataFrame

  Nombre Género  Edad  Altura  ID
0   Juan      M  25.0   165.0   1
1  María      F  30.0   170.0   2
2  Pedro      M  35.0   180.0   3
3    Ana    NaN   NaN     NaN   4
4   Luis      M  32.0     NaN   5

# Reto 3

Crea un archivo CSV mediante el bloc de notas. Este archivo debe
representar la compra efectuada por 5 personas distintas en una
carnicería que solo dispone de 6 tipos de carne. Utiliza como
separadores de columna un símbolo distinto a la coma.

# Reto 4

Importa el archivo creado en el RETO 3 mediante Pandas para crear un
dataframe. Se mostrará por consola al ser finalizado.

In [ ]:
# LIBRE